# Node.js
node_modules
npm-debug.log
yarn-error.log

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log

# Dependency directories
.pnp/
.pnp.js

# Testing
/coverage

# Output of npm commands
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Optional: package manager lock files
yarn.lock
package-lock.json