/* clinics.css */

.clinics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: linear-gradient(
    to bottom right,
    rgba(107, 108, 110, 0.463),
    rgba(65, 65, 65, 0.685)
  );
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.436); /* Subtle shadow */
  padding: 20px;
  transition: transform 0.3s ease;
  color: white;
}

.now-card {
  background: linear-gradient(
    to bottom right,
    rgba(0, 38, 255, 0.609),
    rgba(0, 68, 255, 0.9)
  );
}

.card:hover {
  transform: scale(1.02);
  background: linear-gradient(
    to bottom right,
    rgba(51, 51, 51, 0.609),
    rgba(97, 97, 97, 0.9)
  );
}
.now-card:hover {
  background: linear-gradient(
    to bottom right,
    rgba(0, 38, 255, 0.609),
    rgba(0, 68, 255, 0.9)
  );
}

.details {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.details p {
  margin: 10px 0;
}

.details span {
  font-weight: bold;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.dots-menu {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 5px;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  right: 35px;
}

.dropdown-menu button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  text-align: left;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}
